.container
  .row
    .col-md-offset-4.col-md-5
      .form
        %h4 Edit a wine
        %input(type="text" id="email" class="form-control chat-input" placeholder="Winery")
        %br
        %input(type="text" id="name" class="form-control chat-input" placeholder="Name")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Varietal")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Vintage")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Region")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Appelation")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="State")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Country")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="Quantity")
        %br
        .wrapper
        %span.group-btn
          %a(href="#" class="btn btn-info center-block") 
            update
            %i.glyphicon.glyphicon-save
          %br
          %a(href="#" class="btn btn-danger center-block") 
            delete
            %i.glyphicon.glyphicon-trash