.row
  .col-md-5
    %h2 Vikram Swamy's Cellar
    %br
%br
.row
  .col-md-12
    .table-responsive
      %table.tablesorter
        %thead
          %tr
            %th Winery
            %th Name
            %th Varietal
            %th Vintage
            %th Region
            %th Appelation
            %th State
            %th Country
            %th Qty
        %tbody
          %tr
            %td Louis Jadot
            %td
            %td Pinot Noir
            %td 2012
            %td Burgundy
            %td Gevrey-Chambertin
            %td
            %td France
            %td 3
          %tr
            %td Barnett Vineyards
            %td Rattlesnake Hill
            %td Cabernet Sauvignon
            %td 2012
            %td Napa Valley
            %td Spring Mountain
            %td CA
            %td USA
            %td 8
          %tr
            %td Chateau Mouton Rothschild
            %td 
            %td Bordeaux Blend
            %td 1986
            %td Bordeaux
            %td Pauillac
            %td 
            %td France
            %td 6