.container
  .row
    .col-md-offset-4.col-md-5
      .form
        %h4 Sign up for MyCellar
        %input(type="text" id="email" class="form-control chat-input" placeholder="email")
        %br
        %input(type="text" id="name" class="form-control chat-input" placeholder="name")
        %br
        %input(type="text" id="password" class="form-control chat-input" placeholder="password")
        %br
        .wrapper
        %span.group-btn
          %a(href="#" class="btn btn-info center-block") 
            sign up
            %i.glyphicon.glyphicon-plus